<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.google.ios.youtube.background-refresh-task</string>
		<string>com.google.ios.youtube.background-processing-task</string>
	</array>
	<key>BreakpadProduct</key>
	<string>YouTube_iOS</string>
	<key>BreakpadProductDisplay</key>
	<string>YouTube</string>
	<key>BuildDate</key>
	<string>Unknown</string>
	<key>BuildMachineOSBuild</key>
	<string>20G165</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>YouTube</string>
	<key>CFBundleExecutable</key>
	<string>YouTube</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>youtube/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>logo_youtube_color60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>logo_youtube_color</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>logo_youtube_color60x60</string>
				<string>logo_youtube_color76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>logo_youtube_color</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.google.ios.youtube</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>YouTube</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>17.08.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.google.ios.youtube</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vnd.youtube</string>
				<string>vnd.youtube-broad-matching</string>
				<string>youtube</string>
				<string>com.google.sso.755541669657-kbosfavg7pk7sr3849c3tf657hpi5jpd</string>
				<string>gsd-vnd.youtube</string>
				<string>gsd-vnd.youtube-broad-matching</string>
				<string>gsd-youtube</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17.08.2</string>
	<key>DTAppStoreToolsBuild</key>
	<string>13C90b</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>19C51</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>15.2</string>
	<key>DTSDKBuild</key>
	<string>19C51</string>
	<key>DTSDKName</key>
	<string>iphoneos15.2</string>
	<key>DTXcode</key>
	<string>1321</string>
	<key>DTXcodeBuild</key>
	<string>13C100</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>INIntentsSupported</key>
	<array>
		<string>INPlayMediaIntent</string>
		<string>INSearchForMediaIntent</string>
	</array>
	<key>INSupportedMediaCategories</key>
	<array>
		<string>INMediaCategoryVideo</string>
		<string>INMediaCategoryMusic</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>8e0e3cfb-ad6f-442a-bd07-310a409f7856</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger</string>
		<string>line</string>
		<string>reddit</string>
		<string>snapchat</string>
		<string>storylink</string>
		<string>tg</string>
		<string>twitter</string>
		<string>viber</string>
		<string>whatsapp</string>
		<string>youtube</string>
		<string>vnd.youtube</string>
		<string>vnd.youtube-broad-matching</string>
		<string>vnd.youtube.music</string>
		<string>vnd.youtube.kids</string>
		<string>vnd.youtube.tv</string>
		<string>creatorstudio</string>
		<string>comgooglemaps</string>
		<string>itms-apps</string>
		<string>mailto</string>
		<string>sms</string>
		<string>googlechrome</string>
		<string>googleapp</string>
		<string>googlegmail</string>
		<string>com.google.chat</string>
		<string>com.google.duo</string>
		<string>com.google.fit</string>
		<string>com.google.hangouts</string>
		<string>com.google.jam</string>
		<string>com.google.stella</string>
		<string>comgoogleearthgeo</string>
		<string>comgooglefamilylink</string>
		<string>comgooglekeep</string>
		<string>gmeet</string>
		<string>googlebooks</string>
		<string>googleclassroom</string>
		<string>googledocs</string>
		<string>googledrive</string>
		<string>googlehome</string>
		<string>googlenews</string>
		<string>googlephotos</string>
		<string>googlepodcasts</string>
		<string>googlesheets</string>
		<string>googleslides</string>
		<string>googletasks</string>
		<string>googletranslate</string>
		<string>googlevoice</string>
		<string>gplus</string>
		<string>http</string>
		<string>https</string>
		<string>playmovies</string>
		<string>streetview</string>
		<string>vnd.google.calendar</string>
		<string>waze</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cpid.ddt.telenor.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>nwp.t-mobile.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This lets you add your own audio files to your videos.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>YouTube needs bluetooth access to scan for nearby Cast devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_233637DE._googlecast._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This lets you create videos using the app.</string>
	<key>NSContactsUsageDescription</key>
	<string>Your contacts will be sent to YouTube servers to help you find friends to share videos with.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Access to your network allows YouTube to discover and connect to devices such as your TV.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Makes it easier for you to attach location information to your videos and live streams and allows for features such as improved recommendations and ads.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you include audio with your videos and search using your voice.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you upload media you've already created.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.google.ios.youtube.siri.gaming-destination</string>
		<string>com.google.ios.youtube.siri.subs-tab</string>
		<string>com.google.ios.youtube.siri.text-search</string>
		<string>com.google.ios.youtube.siri.voice-search</string>
	</array>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>eqhxz8m8av.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>YouTubeResources.bundle/YTSans-Bold.otf</string>
		<string>YouTubeResources.bundle/YTSans-Medium.otf</string>
		<string>YouTubeResources.bundle/YouTubeSans-Medium.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
